/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    color: #eceff4;
    border-radius: 5px;
    font-family:JetBrainsMonoNerdFont;
    font-size: 13px;
   }

window#waybar {
    background:#2e3440;
    background-color:rgba(43, 45, 50, 0.6);
}

/* Every modules */
#custom-launcher,
#mode,
#window,
#network,
#custom-updates,
#custom-keyboard-layout,
#cpu,
#temperature,
#memory,
#idle_inhibitor,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray {
    padding:0.2rem 0.6rem;
    margin: 1px 0px;
}
#custom-power {
    padding: 0px 8px;
    border-style: none;
}

 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-launcher {
    margin-left:15px;
}

#workspaces {
    font-size:13px;
}

#workspaces button {
    border-radius: 5px;
    color: #eceff4;
    padding: 0px 6px;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button.focused {
    border: 1px solid #d8dee9;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#mode {
    color: #ebcb8b;
    margin-bottom:3px;
}

#window{
    border-style: hidden;
    margin-top:1px;
}

#network {
}

#network.disabled,#network.disconnected {
    color:#bf616a;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#temperature.critical {
    color: #bf616a;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#idle_inhibitor {
}

#backlight {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#battery {
}

#battery.charging {
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
}

#tray {
}

#custom-power {
    margin-right:15px;
}
